.btn{
    margin-left: 20px;
    outline: none;
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 15px;
    display: inline-block;
}
.clock{
    width: 230px;
    height: 225px;
    background-image: url("./images/clock2.png");
    background-repeat: no-repeat;
    margin-top:20px;
    margin-left: 10px;
}
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity:1;
  }
  .arrow{
    width: 3px;
    height: 73px;
    top: 96px;
    left: 119px;
    background-color: black;
    z-index: 2;
    cursor: pointer;
    position: absolute;
  }
  .inpVal{
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: none;
    border: 1px solid gray;
}