nav{
    display: flex;
    background-color: #333;
    justify-content: space-evenly;
    height: 70px;
    align-items: center;
    flex-wrap: wrap;
}
ul{
    display: flex;
}
li{
    list-style: none;
    display: inline-block;
    color:white;
    padding: 10px;
}
i{
    color: #333333;
}
nav img{
    flex: 1;
    height: 50px;
}
nav ul{
     flex: 10;
}
nav button{
    flex: 1;
    color: antiquewhite;
    margin-right: 1.5%;
}
@media only screen and (max-width: 650px) {
    nav button{
        flex: 0;
        padding: 2%;
    }
    .fa-bars{
    color: white;
    padding: 4%;
    }
    .hide{
        display: none;
    }
    li{
        display: block;
    }
    nav img{
        position: relative;
        left: -25%;
    }
}