nav{
    display: flex;
    background-color: #333;
    justify-content: space-evenly;
    height: 70px;
    align-items: center;
    flex-wrap: wrap;
}
ul{
    display: flex;
}
li{
    list-style: none;
    display: inline-block;
    color:white;
    padding: 10px;
}
i{
    color: #333333;
}